/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * minion-pro:
 *   - http://typekit.com/eulas/0000000000000000000151d1
 *   - http://typekit.com/eulas/0000000000000000000151d2
 *   - http://typekit.com/eulas/0000000000000000000151d3
 *   - http://typekit.com/eulas/0000000000000000000151d4
 *   - http://typekit.com/eulas/0000000000000000000151d5
 *   - http://typekit.com/eulas/0000000000000000000151d6
 *   - http://typekit.com/eulas/0000000000000000000151d7
 *   - http://typekit.com/eulas/0000000000000000000151d8
 * sail:
 *   - http://typekit.com/eulas/00000000000000000001232f
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-11-10 01:30:03 UTC"}*/

@import url("../p.typekit.net/p0c1d.css?s=1&amp;k=nci7nxi&amp;ht=tk&amp;f=15966.6812.6813.6814.6815.6816.6817.6818.6819&amp;a=15691789&amp;app=typekit&amp;e=css");

@font-face {
font-family:"sail";
src:url("af/90d6c6/00000000000000000001232f/27/le196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/90d6c6/00000000000000000001232f/27/de196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/90d6c6/00000000000000000001232f/27/ae196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"minion-pro";
src:url("af/ea8d85/0000000000000000000151d1/27/l652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff2"),url("af/ea8d85/0000000000000000000151d1/27/d652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff"),url("af/ea8d85/0000000000000000000151d1/27/a652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"minion-pro";
src:url("af/bc1d75/0000000000000000000151d2/27/le265?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("woff2"),url("af/bc1d75/0000000000000000000151d2/27/de265?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("woff"),url("af/bc1d75/0000000000000000000151d2/27/ae265?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"minion-pro";
src:url("af/5033af/0000000000000000000151d3/27/lfdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff2"),url("af/5033af/0000000000000000000151d3/27/dfdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff"),url("af/5033af/0000000000000000000151d3/27/afdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"minion-pro";
src:url("af/d3cf65/0000000000000000000151d4/27/le003?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("woff2"),url("af/d3cf65/0000000000000000000151d4/27/de003?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("woff"),url("af/d3cf65/0000000000000000000151d4/27/ae003?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("opentype");
font-style:normal;font-weight:500;
}

@font-face {
font-family:"minion-pro";
src:url("af/4bcbda/0000000000000000000151d5/27/laf99?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i5&amp;v=3") format("woff2"),url("af/4bcbda/0000000000000000000151d5/27/daf99?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i5&amp;v=3") format("woff"),url("af/4bcbda/0000000000000000000151d5/27/aaf99?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i5&amp;v=3") format("opentype");
font-style:italic;font-weight:500;
}

@font-face {
font-family:"minion-pro";
src:url("af/1286c7/0000000000000000000151d6/27/le196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/1286c7/0000000000000000000151d6/27/de196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/1286c7/0000000000000000000151d6/27/ae196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"minion-pro";
src:url("af/acb0f1/0000000000000000000151d7/27/l5bba?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n6&amp;v=3") format("woff2"),url("af/acb0f1/0000000000000000000151d7/27/d5bba?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n6&amp;v=3") format("woff"),url("af/acb0f1/0000000000000000000151d7/27/a5bba?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n6&amp;v=3") format("opentype");
font-style:normal;font-weight:600;
}

@font-face {
font-family:"minion-pro";
src:url("af/0bde87/0000000000000000000151d8/27/l1f8b?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i6&amp;v=3") format("woff2"),url("af/0bde87/0000000000000000000151d8/27/d1f8b?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i6&amp;v=3") format("woff"),url("af/0bde87/0000000000000000000151d8/27/a1f8b?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i6&amp;v=3") format("opentype");
font-style:italic;font-weight:600;
}

.tk-sail { font-family: "sail",sans-serif; }
.tk-minion-pro { font-family: "minion-pro",serif; }
